{% extends "base/admin/index.html" %}

{% block admincontent %}
<style>
    .red{
        color: red;
    }
</style>
<div class="page-header">
    <h1>
        <small>Test: </small> {{ test.name }}
    </h1>
</div>

<div>
    <h2>Multiple choice questions</h2>
    <ul>
        {% for question in test.multiple_choice_questions %}
            <li>
                <a href="{% url 'admin_delete_multiple_choice_question_from_test' test.id question.id %}">
                    <span class="glyphicon glyphicon-remove red" aria-hidden="true"></span>
                </a>
                <a href="{% url 'admin_edit_multiple_choice_question' question.id %}">
                    {{ question }}
                </a>
            </li>
        {% empty %}
            <li>
                No multiple choice questions added.
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'admin_new_multiple_choice_question_to_test' test.id %}" class="btn btn-default">Add new multiple choice question</a>
    <a href="{% url 'admin_list_multiple_choice_questions_not_in_test' test.id %}" class="btn btn-default">Add existing multiple choice question</a>
</div>

<hr/>

<div>
    <h2>Multiple choice questions with image</h2>
    <ul>
        {% for question in test.multiple_choice_questions_with_image %}
            <li>
                <a href="{% url 'admin_delete_multiple_choice_question_with_image_from_test' test.id question.id %}">
                    <span class="glyphicon glyphicon-remove red" aria-hidden="true"></span>
                </a>
                {{ question }}
            </li>
        {% empty %}
            <li>
                No multiple choice questions with image added.
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'admin_new_multiple_choice_question_with_image_to_test' test.id %}" class="btn btn-default">Add new multiple choice question with image</a>
    <a href="{% url 'admin_list_multiple_choice_questions_with_image_not_in_test' test.id %}" class="btn btn-default">Add existing multiple choice question with image</a>
</div>

<hr/>

<div>
    <h2>Multiple choice questions with video</h2>
    <ul>
        {% for question in test.multiple_choice_questions_with_video %}
            <li>
                <a href="{% url 'admin_delete_multiple_choice_question_with_video_from_test' test.id question.id %}">
                    <span class="glyphicon glyphicon-remove red" aria-hidden="true"></span>
                </a>
                {{ question }}
            </li>
        {% empty %}
            <li>
                No multiple choice questions with video added.
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'admin_new_multiple_choice_question_with_video_to_test' test.id %}" class="btn btn-default">Add new multiple choice question with video</a>
    <a href="{% url 'admin_list_multiple_choice_questions_with_video_not_in_test' test.id %}" class="btn btn-default">Add existing multiple choice question with video</a>
</div>

<hr/>

<div>
    <h2>Landmark questions</h2>
    <ul>
        {% for question in test.landmark_questions %}
            <li>
                <a href="{% url 'admin_delete_landmark_question_from_test' test.id question.id %}">
                    <span class="glyphicon glyphicon-remove red" aria-hidden="true"></span>
                </a>
                {{ question }}
            </li>
        {% empty %}
            <li>
                No landmark question added.
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'admin_add_landmark_question_to_test' test.id %}" class="btn btn-default">Add new landmark question</a>
    <a href="{% url 'admin_list_landmark_questions_not_in_test' test.id %}" class="btn btn-default">Add existing landmark question</a>
</div>

<hr/>

<div>
    <h2>Outline questions</h2>
    <ul>
        {% for question in test.outline_questions %}
            <li>
                <a href="{% url 'admin_delete_outline_question_from_test' test.id question.id %}">
                    <span class="glyphicon glyphicon-remove red" aria-hidden="true"></span>
                </a>
                {{ question }}
            </li>
        {% empty %}
            <li>
                No outline question added.
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'admin_add_outline_question_to_test' test.id %}" class="btn btn-default">Add new outline question</a>
    <a href="{% url 'admin_list_outline_questions_not_in_test' test.id %}" class="btn btn-default">Add existing outline question</a>
</div>
{% endblock %}