{% extends "base/admin/index.html" %}
{% load staticfiles %}

{% block admincontent %}
<style>
    .btn {
        display:inline-block;
        min-width: 140px;
        padding:5px 10px;
    }
    
    #left-column {
        max-width: 100%;
        overflow:hidden;
        text-overflow:ellipsis;
        -ms-text-overflow:ellipsis;
        float: left;
    }
    
    #right-column {
        overflow:hidden;
        text-overflow:ellipsis;
        -ms-text-overflow:ellipsis;
        text-align: right;  
        padding-top: 110px;
    }
    
    div.buttons {
        padding: 5px 0px;
    }
    
    div#canvasDiv{
        border: 1px solid black;
    }
</style>
<div id="left-column">
    <div>
        <h1>Draw landmark regions</h1>
    </div>
    <div>
        <p>
            Some explanatory text here.
        </p>
            <button type="button" class="btn" onclick="addColor()">New color</button>
    </div>
    <div id="canvasDiv"></div>
</div>
<div id="right-column">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div id="form-div">
            
        </div>
        <input type="hidden" name="hidden-image-data" id="hidden-image-data" />
        <input type="submit" class="btn btn-default" style="min-width: 200px;" value="Create landmark question" />
        <a href="##" class="btn btn-danger" onClick="window.location.href = document.referrer;">Go back</a>
    </form>
</div>
{% endblock %}

{% block end %} 
<script type="text/javascript" src="{% static "js/draw-regions.js" %}"></script>
<script type="text/javascript">
    // String format
    if (!String.format) {
        String.format = function(format) {
            var args = Array.prototype.slice.call(arguments, 1);
            return format.replace(/{(\d+)}/g, function(match, number) { 
            return typeof args[number] != 'undefined'
                ? args[number] 
                : match
            ;
            });
        };
    }
    // Add colors
    var currentColors = 0,
        colors = [
            "#cb3594", // purple
            "#659b41", // green
            "#ffcf33", // yellow
            "#986928", // brown
        ],
        maxColors = colors.length,
        html =
        "    <div>" +
        "        <div class='buttons'>" +
        "            <button type='button' class='btn' style='background-color:{1}' onclick='drawRegions.setColor({0})'>Select color</button>" +
        "            <button type='button' class='btn' style='background-color:{1}' onclick='drawRegions.clearColor({0})'>Clear color</button>" +
        "        </div>" +
        "        <label for='region{0}'>" +
        "            Region name:" +
        "            <input type='text' name='{1}' id='region{0}' />" +
        "        </label>" +
        "    </div>" +
        "    <hr/>"
        ;
    
    function addColor(){
        if(currentColors >= maxColors){
            //TODO: output to user
            return;
        }
        var color = colors[currentColors];
        var formatedHtml = String.format(html, currentColors, color);
        $("#form-div").append(formatedHtml);
        drawRegions.addColor(color);
        currentColors++;
    }
    
    // Init application
    addColor();
    drawRegions.setColor(0);
    {% with image=question.original_image %}
    drawRegions.init("{{image.url}}", {{image.height}}, {{image.width}});
    {% endwith %}
</script>
{% endblock %}