{% extends "base/admin/index.html" %}

{% block admincontent %}
<h1>
    Edit question
</h1>
<div class="row">
    <h4>
        Question: {{ question }}
    </h4>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <br/>
        <input type="submit" class="btn btn-success" value="Save" />
        {% if test_id %}
            <a href="{% url 'admin_add_questions_to_test' test_id %}" class="btn btn-danger">Cancel</a>
        {% else %}
            <a href="{% url 'admin_list_questions' %}" class="btn btn-danger">Cancel</a>
        {% endif %}
    </form>
</div>
{% endblock %}