{% extends "base/admin/index.html" %}

{% block admincontent %}
<style>
    body{
        font-family: 'Helvetica Neue', Helvetica, Arial;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        color: #3b3b3b;
        -webkit-font-smoothing: antialiased;
        font-smoothing: antialiased;
    }

    .table-wrapper{
        margin: 0 auto;
        padding: 40px;
        max-width: 800px;
    }

    .table{
        margin: 0 0 40px 0;
        width: 100%;
        box-shadow: 0 1px 3px rgba(0,0,0,0.2);
        display: table;
    }
    @media screen and (max-width: 580px){
        .table{
            display: block
        }
    }
    
    .red{
        color: red;
    }
    
    .green{
        color: green;
    }
    
    .table-row{
        display: table-row;
        background: #f6f6f6;
    }
    
    .table-row:nth-of-type(odd){
        background: #e9e9e9;
    }
    
    .table-row.blue{
        background: #59b0e9
    }
    
    @media screen and (max-width: 580px){
        .table-row{
            padding: 8px 0;
            display: block;
        }
    }

    .cell{
        padding: 6px 12px;
        display: table-cell;
    }

    @media screen and (max-width: 580px){
        .cell{
            padding: 2px 12px;
            display: block;
        }
    }
</style>
<h1 class="page-header">
    Multiple choice questions
</h1>
<div class="table-wrapper">
    <div class="table">
        <div class="table-row header blue">
            <div class="cell">
                Question name
            </div>
            <div class="cell">
                Times used
            </div>
            <div class="cell">
                Edit question
            </div>
            <div class="cell">
                Delete question
            </div>
        </div>
        {% for question in multiple_choice_questions %}
            <div class="table-row">
                <div class="cell">
                    {{ question }}
                </div>
                <div class="cell">
                    {{ question.times_used }}
                </div>
                <div class="cell">
                    <a href="{% url 'admin_edit_multiple_choice_question' question.id %}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"> Edit</span>
                    </a>
                </div>
                <div class="cell">
                    <a href="{% url 'admin_delete_multiple_choice_question' question.id %}">
                        <span class="glyphicon glyphicon-remove red" aria-hidden="true"> Delete</span>
                    </a>
                </div>
            </div>
        {% empty %}
            <div class="cell">
                No questions created.
            </div>
        {% endfor %}
    </div>
</div>

<hr/>

<h1 class="page-header">
    Multiple choice questions with image
</h1>
<div class="table-wrapper">
    <div class="table">
        <div class="table-row header blue">
            <div class="cell">
                Question name
            </div>
            <div class="cell">
                Times used
            </div>
            <div class="cell">
                Edit question
            </div>
            <div class="cell">
                Delete question
            </div>
        </div>
        {% for question in multiple_choice_questions_with_image %}
            <div class="table-row">
                <div class="cell">
                    {{ question }}
                </div>
                <div class="cell">
                    {{ question.times_used }}
                </div>
                <div class="cell">
                    <a href="{% url 'admin_edit_multiple_choice_question_with_image' question.id %}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"> Edit</span>
                    </a>
                </div>
                <div class="cell">
                    <a href="{% url 'admin_delete_multiple_choice_question_with_image' question.id %}">
                        <span class="glyphicon glyphicon-remove red" aria-hidden="true"> Delete</span>
                    </a>
                </div>
            </div>
        {% empty %}
            <div class="cell">
                No questions created.
            </div>
        {% endfor %}
    </div>
</div>

<hr/>

<h1 class="page-header">
    Multiple choice questions with video
</h1>
<div class="table-wrapper">
    <div class="table">
        <div class="table-row header blue">
            <div class="cell">
                Question name
            </div>
            <div class="cell">
                Times used
            </div>
            <div class="cell">
                Edit question
            </div>
            <div class="cell">
                Delete question
            </div>
        </div>
        {% for question in multiple_choice_questions_with_video %}
            <div class="table-row">
                <div class="cell">
                    {{ question }}
                </div>
                <div class="cell">
                    {{ question.times_used }}
                </div>
                <div class="cell">
                    <a href="{% url 'admin_edit_multiple_choice_question_with_video' question.id %}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"> Edit</span>
                    </a>
                </div>
                <div class="cell">
                    <a href="{% url 'admin_delete_multiple_choice_question_with_video' question.id %}">
                        <span class="glyphicon glyphicon-remove red" aria-hidden="true"> Delete</span>
                    </a>
                </div>
            </div>
        {% empty %}
            <div class="cell">
                No questions created.
            </div>
        {% endfor %}
    </div>
</div>

<hr/>

<h1 class="page-header">
    Landmark questions
</h1>
<div class="table-wrapper">
    <div class="table">
        <div class="table-row header blue">
            <div class="cell">
                Question name
            </div>
            <div class="cell">
                Times used
            </div>
            <div class="cell">
                Edit question
            </div>
            <div class="cell">
                Delete question
            </div>
        </div>
        {% for question in landmark_questions %}
            <div class="table-row">
                <div class="cell">
                    {{ question }}
                </div>
                <div class="cell">
                    {{ question.times_used }}
                </div>
                <div class="cell">
                    <a href="{% url 'admin_edit_landmark' question.id %}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"> Edit</span>
                    </a>
                </div>
                <div class="cell">
                    <a href="{% url 'admin_delete_landmark_question' question.id %}">
                        <span class="glyphicon glyphicon-remove red" aria-hidden="true"> Delete</span>
                    </a>
                </div>
            </div>
        {% empty %}
            <div class="cell">
                No questions created.
            </div>
        {% endfor %}
    </div>
</div>
<hr/>

<h1 class="page-header">
    Outline questions
</h1>
<div class="table-wrapper">
    <div class="table">
        <div class="table-row header blue">
            <div class="cell">
                Question name
            </div>
            <div class="cell">
                Times used
            </div>
            <div class="cell">
                Edit question
            </div>
            <div class="cell">
                Delete question
            </div>
        </div>
        {% for question in outline_questions %}
            <div class="table-row">
                <div class="cell">
                    {{ question }}
                </div>
                <div class="cell">
                    {{ question.times_used }}
                </div>
                <div class="cell">
                    <a href="{% url 'admin_edit_outline' question.id %}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"> Edit</span>
                    </a>
                </div>
                <div class="cell">
                    <a href="{% url 'admin_delete_outline_question' question.id %}">
                        <span class="glyphicon glyphicon-remove red" aria-hidden="true"> Delete</span>
                    </a>
                </div>
            </div>
        {% empty %}
            <div class="cell">
                No questions created.
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}