{% extends "base/admin/index.html" %}

{% block admincontent %}
<style>
    .red{
        color: red;
    }
</style>
<h1 class="page-header">
    Multiple choice questions
</h1>
<table class="table">
    <tr>
        <th>Question name</th>
        <th>Times used</th>
        <th>Edit question</th>
        <th>Delete question</th>
    </tr>
    {% for question in multiple_choice_questions %}
        <tr>
            <td>
               {{ question }} 
            </td>
            <td>
                {{ question.times_used }}
            </td>
            <td>
                <a href="{% url 'admin_edit_multiple_choice_question' question.id %}">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"> Edit</span>
                </a>
            </td>
            <td>
                <a href="{% url 'admin_delete_multiple_choice_question' question.id %}">
                    <span class="glyphicon glyphicon-remove red" aria-hidden="true"> Delete</span>
                </a>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="4">No questions created.</td>
        </tr>
    {% endfor %}
</table>

<h1 class="page-header">
    Multiple choice questions with image
</h1>
<table class="table">
    <tr>
        <th>Question name</th>
        <th>Times used</th>
        <th>Edit question</th>
        <th>Delete question</th>
    </tr>
    {% for question in multiple_choice_questions_with_image %}
        <tr>
            <td>
               {{ question }} 
            </td>
            <td>
                {{ question.times_used }}
            </td>
            <td>
                <a href="{% url 'admin_edit_multiple_choice_question_with_image' question.id %}">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"> Edit</span>
                </a>
            </td>
            <td>
                <a href="{% url 'admin_delete_multiple_choice_question_with_image' question.id %}">
                    <span class="glyphicon glyphicon-remove red" aria-hidden="true"> Delete</span>
                </a>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="4">No questions created.</td>
        </tr>
    {% endfor %}
</table>

<h1 class="page-header">
    Multiple choice questions with video
</h1>
<table class="table">
    <tr>
        <th>Question name</th>
        <th>Times used</th>
        <th>Edit question</th>
        <th>Delete question</th>
    </tr>
    {% for question in multiple_choice_questions_with_video %}
        <tr>
            <td>
               {{ question }} 
            </td>
            <td>
                {{ question.times_used }}
            </td>
            <td>
                <a href="{% url 'admin_edit_multiple_choice_question_with_video' question.id %}">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"> Edit</span>
                </a>
            </td>
            <td>
                <a href="{% url 'admin_delete_multiple_choice_question_with_video' question.id %}">
                    <span class="glyphicon glyphicon-remove red" aria-hidden="true"> Delete</span>
                </a>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="4">No questions created.</td>
        </tr>
    {% endfor %}
</table>

<h1 class="page-header">
    Landmark questions
</h1>
<table class="table">
    <tr>
        <th>Question name</th>
        <th>Times used</th>
        <th>Edit question</th>
        <th>Delete question</th>
    </tr>
    {% for question in landmark_questions %}
        <tr>
            <td>
               {{ question }} 
            </td>
            <td>
                {{ question.times_used }}
            </td>
            <td>
                <a href="{% url 'admin_edit_landmark' question.id %}">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"> Edit</span>
                </a>
            </td>
            <td>
                <a href="{% url 'admin_delete_landmark_question' question.id %}">
                    <span class="glyphicon glyphicon-remove red" aria-hidden="true"> Delete</span>
                </a>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="4">No questions created.</td>
        </tr>
    {% endfor %}
</table>

<h1 class="page-header">
    Outline questions
</h1>
<table class="table">
    <tr>
        <th>Question name</th>
        <th>Times used</th>
        <th>Edit question</th>
        <th>Delete question</th>
    </tr>
    {% for question in outline_questions %}
        <tr>
            <td>
               {{ question }} 
            </td>
            <td>
                {{ question.times_used }}
            </td>
            <td>
                <a href="{% url 'admin_edit_outline' question.id %}">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"> Edit</span>
                </a>
            </td>
            <td>
                <a href="{% url 'admin_delete_outline_question' question.id %}">
                    <span class="glyphicon glyphicon-remove red" aria-hidden="true"> Delete</span>
                </a>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="4">No questions created.</td>
        </tr>
    {% endfor %}
</table>
<h1 class="page-header">
    Outline solution questions
</h1>
<table class="table">
    <tr>
        <th>Question name</th>
        <th>Times used</th>
        <th>Edit question</th>
        <th>Delete question</th>
    </tr>
    {% for question in outline_solution_question %}
        <tr>
            <td>
               {{ question }} 
            </td>
            <td>
                {{ question.times_used }}
            </td>
            <td>
                <a href="{% url 'admin_edit_outlinesolution' question.id %}">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"> Edit</span>
                </a>
            </td>
            <td>
                <a href="{% url 'admin_delete_outline_solution_question' question.id %}">
                    <span class="glyphicon glyphicon-remove red" aria-hidden="true"> Delete</span>
                </a>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="4">No questions created.</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}