{% extends "base/admin/index.html" %}

{% block admincontent %}
<h1>
        {% if test %}
        Add Image to test
    {% else %}
        Upload image
    {% endif %}
</h1>
{% if test %}
    <h4>
        <small>Test</small> {{ test.name }}
    </h4>
{% endif %}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table">
        {{ form.as_table }}
    </table>
        {% if test %}
        <input type="submit" class="btn btn-success" value="Add" />
        <a href="{% url 'admin_add_questions_to_test' test.id %}" class="btn btn-danger">Cancel</a>
    {% else %}
        <input type="submit" class="btn btn-success" value="Create" />
    {% endif %}
</form>
{% endblock %}