{% extends "base/admin/index.html" %}
{% load test_answers %}

{% block admincontent %}
<style>
    .red{
        color: red;
    }
</style>
<h1>Users taking <a href="{% url 'admin_view_test' test.id %}">{{test}}</a></h1>
<table class="table">
    <tr>
        <th>Username</th>
        <th>Score</th>
        <th>Clear test result</th>
    </tr>
    {% for user in users %}
        <tr>
            <td>
                <a href="{% url 'admin_view_test_result_for_user' test.id user.id %}">
                    {{ user }}
                </a>                
            </td>
            <td>
                {% if test|answered_by_user:user %}
                    {{ test|answered_by_user:user|score_fraction}}
                {% else %}
                    Not answered
                {% endif %}
            </td>
            <td>
                {% if test|answered_by_user:user %}
                {% with test|answered_by_user:user as test_result %}
                <a href="{% url 'admin_delete_test_result_in_test' test_result.id %}">
                    <span class="glyphicon glyphicon-trash red" aria-hidden="true"> Clear</span>
                </a>
                {% endwith %}
                {% else %}
                   <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> 
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}