{% extends "base.html" %}
{% load shuffle %}
{% load staticfiles %}
{% load question_tags %}

{% block extrahead %}
<script src="{% static "js/answer-regions.js" %}"></script>
<style>
    .modal {
        text-align: center;
    }

    @media screen and (min-width: 768px) { 
        .modal:before {
            display: inline-block;
            vertical-align: middle;
            content: " ";
            height: 100%;
        }
    }

    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }

    input[type=radio] {
        visibility:hidden;
    }
    
    img {
        max-width: 100%;
    }
    
    canvas {
        max-width: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
    
    img.hide {
        opacity: 0;
    }
    
    li:hover
    {
         background-color: #fbfbfb;
         cursor: pointer; 
    }
    video {  
        width:100%; 
        max-height:500px; 
        width: auto; 
    }
    
    div.landmark-container, div.outline-container{
        position: relative;
        margin: auto;
    }
    
    div.landmark-container::after, div.outline-container::after {
        clear: both;
    }
    
    .pager li>a,
    .pager li>a:visited {
        background-color:  #5cb85c;
        border-color: #4cae4c;
        color: antiquewhite;
    }
    
    .pager li>a:hover,
    .pager li>a:link,
    .pager li>a:active {
        background-color: #449d44;
        border-color: #398439;
        color: antiquewhite;        
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <form action="{% url 'submit_test' test.id %}" method="post">
        {% csrf_token %}
        <h3>
            {{ test }}
        </h3>
        {% for question in questions|shuffle %}
            <div class="single-question">
                <div class="center-block">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                {% if question|is_landmark %}
                                    {% with region=question|get_random_region %}
                                        Select {{ region.name}}
                                        <input type="hidden" id="region-{{ question.id }}-color" name="region-{{ question.id }}-color" value="{{ region.color }}">
                                    {% endwith %}
                                {% elif question|is_outline %}
                                    {% with region=question|get_random_region %}
                                        Draw around {{ region.name}}
                                        <input type="hidden" id="region-{{ question.id }}-color" name="region-{{ question.id }}-color" value="{{ region.color }}">
                                    {% endwith %}
                                {% else %}
                                    {{ question }}
                                {% endif %}
                            </h3>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-body">
                            {{ question.as_html | safe }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="single-question">
            <div class="center-block">
                <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                All questions have been answered.
                            </h3>
                        </div>
                    <div class="panel-body">
                        <p>You can submit your answers, or browse back through your answeres in order to double check them.</p>
                        <p>Once answered have been submitted, you can not change your answers.</p>
                    </div>
                </div>
            </div>
        </div>
        <ul class="pager">
            <li class="previous"><a href="#" class="test-navigation">Previous</a></li>
            <li class="next"><a href="#" class="test-navigation">Next</a></li>
            <li class="submit"><input type="submit" class="btn btn-success pull-right" value="Answer"></li>
        </ul>
    </form>
</div>
{% endblock %}

{% block prebody %}
<div id="outlineModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Calculating...</h4>
      </div>
      <div class="modal-body">
        <p>Calculating outline distance, please wait...</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block end %}
<script>
    // MPC-Input related
    $('input:radio').click(function(ev){
        ev.stopPropagation();
    }).parent().click(function(ev){
        ev.preventDefault();
        $(this).children('input').click();
        $(this).addClass('active').siblings().removeClass('active');
    });
    //Next-previous related
    $('div.single-question').hide().first().show();
    
    function disableAndEnableNavigationButtons(){
        // Default
        $("li.next").show();
        $("li.previous").show();
        $("li.submit").hide();
        
        var currentlyVisible = $('div.single-question:visible');
        if(currentlyVisible.next('div.single-question').length <= 0){
            $("li.next").hide();
            $("li.submit").show();
        } 
        if(currentlyVisible.prev('div.single-question').length <= 0){
            $("li.previous").hide();
        }
    }
    
    disableAndEnableNavigationButtons();
    
    $('a.test-navigation').on('click', function(e) {
        e.preventDefault();
        var currentlyVisible = $('div.single-question:visible');
        var t = $(this).text();

        if (t === 'Next' && currentlyVisible.next('div.single-question').length > 0) {
            $('div.single-question').hide();
            currentlyVisible.next('div.single-question').show();
        } else if (t === 'Previous' && currentlyVisible.prev('div.single-question').length > 0) {
            $('div.single-question').hide();
            currentlyVisible.prev('div.single-question').show();
        }
        disableAndEnableNavigationButtons();
    });
</script>
{% endblock %}