{% extends "base.html" %}
{% load testunit_as_html %}
{% load shuffle %}
{% load staticfiles %}

{% block extrahead %}
    <script src="{% static "js/landmark.js" %}"></script>
{% endblock %}

{% block content %}
<style>
    input[type=radio] {
        visibility:hidden;
    }
    
    img {
        max-width: 100%;
    }
    
    img.hide {
        opacity: 0;
    }
    
    li:hover
    {
         background-color: #fbfbfb;
         cursor: pointer; 
    }
</style>

<div class="container">
    {% if answers %}
        {% for answer in answers.test_unit_results %}
        <div class="center-block">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {{ answer.test_unit }}
                    </h3>
                </div>
                <div class="panel-body">
                        {{ answer.correct_answer }}
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
    <form action="/submit/{{ test.id }}" method="post">
        {% csrf_token %}
        <h3>
            {{ test }}
        </h3>
        {% for question in questions|shuffle %}
        <div class="center-block">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {{ question }}
                    </h3>
                </div>
                <div class="panel-body">
                        {{ question | as_html | safe }}
                </div>
            </div>
        </div>
        {% endfor %}
        <input type="submit" class="btn btn-success" value="Answer">
    </form>
    {% endif %}
</div>
{% endblock %}

{% block end %}
<script>
$('input:radio').click(function(ev){
    ev.stopPropagation();
}).parent().click(function(ev){
    ev.preventDefault();
    $(this).children('input').click();
    $(this).addClass('active').siblings().removeClass('active');
});
</script>
{% endblock %}