{% extends "base.html" %}
{% block content %}
<style>
    li:hover{
         background-color: #fcfcfc;
         cursor: pointer; 
    }
    
    li{
        font-family: 'Lato',Arial,sans-serif;
    }
    
</style>
<div class="album text-muted">
    <div class="container">
        <h1 class="jumbotron-heading">Tests</h1>
        <div class="row">
            <ul class="list-group">
            {% for test in tests %}
                <li class="list-group-item">
                    <a style="text-decoration: none" href="{% url 'single_test' test.id %}">{{ test }}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block end %}
<script>
$("li").click(function(){
   window.location=$(this).find("a").attr("href"); 
   return false;
});
</script>
{% endblock %}