{% load staticfiles %}
<!DOCTYPE HTML>
<html>

<head>
    <title>{% block title %}Medical Imaging Quiz | Project by Marte Nordrik Hallan{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="medical imaging quiz website">
    <meta name="author" content="Marte Nordrik Hallan">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/main.css" %}" type="text/css"> {% block extrahead %}{% endblock %}
</head>

<body>
    <div id="page-content">
        {% block body %}
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">MedImgQuiz</a>
                </div>
                
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_staff %}
                        <li>
                            <a href="/admin">
                                Admin
                            </a>
                        </li>
                        {% endif %}
                        <li>
                            {% if user.is_authenticated  %}
                            <a href="{% url 'django.contrib.auth.views.logout' %}">
                                Log out
                            </a>
                            {% else %}
                            <a href="{% url 'django.contrib.auth.views.login' %}">
                                Log in
                            </a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <div class="row">
        {% block content %} This is hidden candy that only you, as developer, are able to see. APPRECIATE! {% endblock %}
        </div>

        {% block footer %}
        <!--footer class="text-muted">
            <div class="container">
                <p class="pull-xs-right">
                    <a href="#">Back to top</a>
                </p>
                <p>Medical Imaging Quiz &copy; Marte Nordrik Hallan.</p>
            </div>
        </footer-->
        {% endblock %}

        {% endblock %}


        <!-- JS -->
        <script src="{% static "js/jquery-2.2.1.min.js" %}"></script>
        <script src="{% static "js/holder.min.js" %}"></script>
        <script>
            $(function () {
            Holder.addTheme("thumb", { background: "#55595c", foreground: "#eceeef", text: "Thumbnail" });
        });
        </script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        
        {% block end %} {% endblock %}
    </div>
</body>

</html>