body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}

.popup-bck {
  background-color: rgba(102, 102, 102, .5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 10;
}

.popup-content-box {
  background-color: white;
  position: fixed;
  margin: 0px auto;
  top: 50%;
  left: 50%;
  z-index: 11;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.pup-parent {
  position: relative;
}

.pup-zoom {
  background-image: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='25px' width='60px'><text x='0' y='15' fill='white' font-size='10'>Zoom</text></svg>");
  z-index: 11;
  position: absolute;
  top: 5;
  left: 5;
}

.pup-draw {
  background-image: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='25px' width='60px'><text x='0' y='15' fill='white' font-size='10'>Draw</text></svg>");
  z-index: 11;
  position: absolute;
  top: 5;
  left: 5;
}
.btn-large {
  margin: 15px;

}
.btn-large-no-margin{
  margin: 0px;
}

.table-align-right{
  text-align: right;
}

.add-pointer{
  cursor: pointer;
}

.overrideblue{
  background-color: #2196f3;
}
.overrideblue:hover{
  background-color: #42a5f5;
}

.overridepink{
  background-color: #e91e63;
}

.overridepink:hover{
  background-color: #ec407a;
}

.overridered{
  background-color: #f44336;
}
.overridered:hover{
  background-color: #ef5350;
}
