html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* needed for container min-height */
    font-family: 'Raleway', sans-serif;
}

p{
    font-family: 'Lato',Arial,sans-serif;
}

ul
{
    list-style-type: none;
}

.no-border-radius {
    border-radius: 0px;    
}

nav a {
    position: relative;
    display: inline-block;
    margin: 15px 25px;
    outline: none;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    font-size: 1.35em;
}

nav a:hover,
nav a:focus {
    outline: none;
}
.navbar {
    margin-bottom: 0;
}

.navbar-collapse .container-fluid {
    padding: 2rem 2.5rem;
    border-bottom: 1px solid #55595c;
}

.navbar-collapse h4 {
    color: #818a91;
}

.navbar-collapse .text-muted {
    color: #818a91;
}

div#page-content
{
    position: relative;
    margin: 0 auto;
    height: auto !important;
    height: 100%;
    min-height: 100%;
}
 
h1 {
    font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.main-content {
    padding-top: 80px;
}   