{% extends "base/admin/index.html" %}

{% block admincontent %}
<h1>
    Add user to {{ group }}:
</h1>
<ul>
    {% for user in users %}
        <li>
            <a href="{% url 'admin_register_user_in_group' group.id user.id %}">{{ user }}</a>
        </li>
    {% empty %}
        <li>
            No users are created yet, or all users are added to group. <br/>
            <a href="{% url 'admin_new_user' %}">Create a user now!</a>
        </li>
    {% endfor %}
    <a href="{% url 'admin_view_group' group.id %}" class="btn btn-danger">Cancel</a>
</ul>
{% endblock %}