{% extends "base.html" %}

{% block content %}
<div class="container">
    <div style="height:20px;"></div>
    {% if user.has_changed_password %}
        <h1>Change password</h1>
    {% else %}
        <h1>Welcome</h1>
        <p>
            Since this is your first login, you have to change your password.
        </p>
    {% endif %}
    <div id="divCheckPasswordMatch" style="color:red;">
        
    </div>
    <form action="" method="post">
        {% csrf_token %}
        <table id="form-table" class="table">
            {{ form.as_table }}
        </table>
        <input type="submit" id="form-submit" class="btn btn-success" value="Submit" />
    </form>
</div>

<script>
    function checkPasswordMatch() {
        var password = $("input#id_password").val();
        var confirmPassword = $("input#id_verify_password").val();

        if (password != confirmPassword){
            $("#divCheckPasswordMatch").html("Passwords do not match!"); 
            $("input#form-submit").prop('disabled', true);        
        }else{
            $("#divCheckPasswordMatch").html("");
            $("input#form-submit").prop('disabled', false);
        }
    }
    
    $("input#id_verify_password").keyup(checkPasswordMatch);
</script>
{% endblock %}