{% extends "base.html" %}
{% load test_answers %}
{% block content %}
<style>
    .test-box {
        vertical-align:top;
        display: inline-block;
        height: 100%;
        width: 100%;
        padding: 1em;
        border: 1px solid rgb(221, 221, 221);
    }
</style>

<div class="container">
    <div style="height:20px;"></div>
    {% for course in courses %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ course.name }}</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    {% for test in tests %}
                        {% if test.course == course %}
                            <div class="col-sm-6 col-md-4">
                                <div class="test-box">
                                    <h3>{{ test }}</h3>
                                    {% has_been_answered test as test_answered_by_current_user %}
                                    {% if test_answered_by_current_user %}
                                        <p>You have already answered this test.</p>
                                    {% else %}
                                        <p>This test contains {{ test.test_unit_count }} question{{ test.test_unit_count|pluralize }}.</p>
                                        <br/>
                                        <p>
                                            <a class="btn btn-primary" href="{% url 'single_test' test.id %}">
                                                Take this test now!
                                            </a>
                                        </p>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}