{% extends "base.html" %}
{% load test_answers %}
{% block content %}
<style>
    li:hover{
         background-color: #fafafa;
         cursor: pointer; 
    }
    
    li{
        font-family: 'Lato',Arial,sans-serif;
    }
    
    .badge-success {
        background-color: #468847;
    }
    
</style>

<div class="container">
    <div style="height:20px;"></div>
    {% for course in courses %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ course.name }}</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        {% for test in tests %}
                            {% if test.course == course %}
                                <div class="thumbnail">
                                    <div class="caption">
                                        <h3>{{ test }}</h3>
                                        {% has_been_answered test as test_answered_by_current_user %}
                                        {% if test_answered_by_current_user %}
                                            <p>You have already answered this test.</p>
                                        {% else %}
                                            <p>This test contains {{ test.test_unit_count }} questions.</p>
                                            <p>
                                                <a href="{% url 'single_test' test.id %}">
                                                    Take this test now!
                                                </a>
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                        
            </div>
        </div>
    {% endfor %}
</div>












{% comment %}
<div class="album text-muted">
    <div class="container">
        <h1 class="jumbotron-heading">Tests</h1>
        <div class="row">
            <ul class="list-group">
            {% for test in tests %}
                <li class="list-group-item">
                    <a style="text-decoration: none" href="{% url 'single_test' test.id %}">
                        {{ test }}
                    </a>
                    {% has_been_answered test as test_answered_by_current_user %}
                    <div class="text-right">
                        {% if test_answered_by_current_user %}
                            Answered: 
                            <span class="badge badge-success">
                                {{test_answered_by_current_user.correct_answers|length}}/
                                {{test.test_unit_count}}
                            </span>
                        {% else %}
                            Not answered yet. 
                        {% endif %}
                    </div>
                </li>
            {% empty %}
            <h3>
                No tests created.
            </h3>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endcomment %}
{% endblock %}

{% block end %}
<script>
$("li").click(function(){
   window.location=$(this).find("a").attr("href"); 
   return false;
});
</script>
{% endblock %}