{% extends "base.html" %}
{% block content %}
<div class="album text-muted">
    <div class="container">
        <h1 class="jumbotron-heading">Quizes</h1>
        <div class="row">
            {% for test in tests %}
            <div class="card">
                <img data-src="holder.js/100px280/thumb" alt="Card image cap">
                <p class="text-center lead"><a href="{% url 'single_test' test.id %}">{{ test }}</a></p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}