{% extends "base/admin/index.html" %}

{% block admincontent %}
<h1>
        {% if test %}
        Add Image to test
    {% else %}
        Upload image
    {% endif %}
</h1>
{% if test %}
    <h4>
        <small>Test</small> {{ test.name }}
    </h4>
{% endif %}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table">
        {{ form.as_table }}
    </table>
        {% if test %}
        <input type="submit" class="btn btn-success" value="Add" />
        <a href="{% url 'admin_add_questions_to_test' test.id %}" class="btn btn-danger">Cancel</a>
    {% else %}
        <input type="submit" class="btn btn-success" value="Create" />
    {% endif %}
</form>
{% endblock %}
{% block end %}
<script>
    document.getElementById('id_image').addEventListener('change', function (event) {
        var filename = $('#id_image').prop("files")[0]['name'];
        
        var setModality = function (str) {
            var machine = document.getElementById('id_machine');
            machine.value = str;
        }

        var setName = function (str) {
            document.getElementById('id_name').value = str.replace(/\.[^/.]+$/, "");
        }

        setName(filename);

        if (filename.indexOf("CT") != -1) {
            setModality("CT");
        } else if (filename.indexOf("MR") != -1) {
            setModality("MR");
        } else if (filename.indexOf("US") != -1) {
            setModality("US");
        }

    })
    
    


    
</script>
{% endblock %}