{% extends "base/admin/index.html" %}

{% block admincontent %}
<h1>
    Add user to {{ course }}:
</h1>
<ul>
    {% for user in users %}
        <li>
            <a href="{% url 'admin_register_existing_user_to_course' user.id course.id %}">{{ user }}</a>
        </li>
    {% empty %}
        <li>
            No users are created yet, or all users are attending this course. <br/>
            <a href="{% url 'admin_new_user' %}">Create a new user now!</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}