{% extends "base/admin/index.html" %}

{% block admincontent %}
<style>
    .red{
        color: red;
    }
    td{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    th{
        padding-right: 10px;
        padding-left: 10px;
    }
</style>
<h1>
    {{ course.name }}
</h1>
<div class="row">
    <a href="{% url 'admin_edit_course' course.id %}" class="btn btn-primary btn-lg">Edit name</a>
    <a href="{% url 'admin_generate_user_for_course' course.id %}" class="btn btn-primary btn-lg">Generate new users</a>
    <a href="{% url 'admin_list_all_groups_not_attending_course' course.id %}" class="btn btn-primary btn-lg">Add group</a>
</div>
<h2>
    Groups: {{ groups|length }}
</h2>
<div class="row">
    <table>
        <tr>
            <th>Group name</th>
            <th>Participants</th>
            <th>Remove group from course</th>
        </tr>
        {% for group in groups %}
            <tr>
                <td>
                    <a href="{% url 'admin_view_group' group.id %}">
                        {{ group }}
                    </a>
                </td>
                <td>
                    {{group.users|length}}
                </td>
                <td>
                    <a href="{% url 'admin_unregister_group_from_course' course.id group.id %}">
                        <span class="glyphicon glyphicon-remove red" aria-hidden="true"> Remove
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
<h2>
    Participants without groups: {{ participants|length }}
</h2>
<div class="row">
    <table>
        <tr>
            <th>Username</th>
            <th>Has logged in</th>
            <th>Delete user</th>
        </tr>
        {% for participant in participants %}
            <tr>
                <td>
                    <a href="{% url 'admin_view_user' participant.id %}">
                        {{ participant }}
                    </a>
                </td>
                <td>
                    {% if participant.last_login %}
                        Yes
                    {% else %}
                        No
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'admin_delete_user_from_course' participant.id course.id %}">
                        <span class="glyphicon glyphicon-remove red" aria-hidden="true"> Delete
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}