{% extends "base/admin/index.html" %}

{% block admincontent %}
<div style="padding: 20px;"></div>
<h1>
    {{ course.name }}
</h1>
<div class="row">
    <a href="{% url 'admin_edit_course' course.id %}" class="btn btn-primary btn-lg">Edit name</a>
    <a href="{% url 'admin_add_user_to_course' course.id %}" class="btn btn-primary btn-lg">Add users</a>
</div>
<h2>
    Participants: {{ course.participants }}
</h2>
<div class="row">
    {% for participant in participants %}
        <p>
            {{ participant }}
        </p>
    {% endfor %}
</div>
{% endblock %}